<?php

declare(strict_types=1);

/*
 * PagarmeApiSDKLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace PagarmeApiSDKLib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;
use PagarmeApiSDKLib\Exceptions\ApiException;
use PagarmeApiSDKLib\Models\CreatePaymentLinkRequest;
use PagarmeApiSDKLib\Models\GetPaymentLinkResponse;
use PagarmeApiSDKLib\Server;

class PaymentLinksController extends BaseController
{
    /**
     * Creates a new payment link
     *
     * @param CreatePaymentLinkRequest $body Request for creating a payment link
     * @param string|null $idempotencyKey
     *
     * @return GetPaymentLinkResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function createPaymentLink(
        CreatePaymentLinkRequest $body,
        ?string $idempotencyKey = null
    ): GetPaymentLinkResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/paymentlinks')
            ->server(Server::PAYMENT_LINKS)
            ->auth('httpBasic')
            ->parameters(BodyParam::init($body), HeaderParam::init('idempotency-key', $idempotencyKey));

        $_resHandler = $this->responseHandler()->type(GetPaymentLinkResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Gets a payment link
     *
     * @param string $paymentLinkId Payment link id
     *
     * @return GetPaymentLinkResponse Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function getPaymentLink(string $paymentLinkId): GetPaymentLinkResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/paymentlinks/{payment_link_id}')
            ->server(Server::PAYMENT_LINKS)
            ->auth('httpBasic')
            ->parameters(TemplateParam::init('payment_link_id', $paymentLinkId));

        $_resHandler = $this->responseHandler()->type(GetPaymentLinkResponse::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
